<table>
  <tr>
    <th>Security Name (EN)</th>
    <td><%= f.text_field :security_name_en %></td>
  </tr>
  <tr>
    <th>Security Name (FR)</th>
    <td><%= f.text_field :security_name_fr %></td>
  </tr>
  <tr>
    <th>Issues Outstanding</th>
    <td><%= f.number_field :issues_outstanding %></td>
  </tr>
  <tr>
    <th>Reserved for Issuance</th>
    <td><%= f.number_field :reserved_for_issuance %></td>
  </tr>
  <tr>
    <th>Total Equity Shares as if Converted</th>
    <td><%= f.number_field :total_equity_shares_as_if_converted %></td>
  </tr>
</table>
