<h1>Edit Issuer Details</h1>

<%= form_with(model: @issuer, url: edit_requests_path, method: :post, local: true) do |form| %>
  <div class="section">
    <% if defined?(@form) %>
      <%= render 'shared/errors', object: @form %>
    <% end %>

    <table>
      <tr>
        <th>Company Name (EN)</th>
        <td><%= form.text_field :name_en %></td>
      </tr>
      <tr>
        <th>Company Name (FR)</th>
        <td><%= form.text_field :name_fr %></td>
      </tr>
      <tr>
        <th>Company Description (EN)</th>
        <td><%= form.text_area :description_en %></td>
      </tr>
      <tr>
        <th>Company Description (FR)</th>
        <td><%= form.text_area :description_fr %></td>
      </tr>
      <tr>
        <th>Logo URL</th>
        <td><%= form.text_field :logo_url %></td>
      </tr>
      <tr>
        <th>Industry</th>
        <td><%= form.collection_select :industry_id, @industries, :id, :name %></td>
      </tr>
      <tr>
        <th>Financial Year End</th>
        <td><%= form.date_select :financial_year_end %></td>
      </tr>
    </table>
  </div>

  <div class="section">
    <h2>Company Links</h2>
    <%= form.fields_for :company_link do |link_form| %>
      <table>
        <tr>
          <th>LinkedIn</th>
          <td><%= link_form.text_field :linkedin_url %></td>
        </tr>
        <tr>
          <th>YouTube</th>
          <td><%= link_form.text_field :youtube_url %></td>
        </tr>
        <tr>
          <th>Instagram</th>
          <td><%= link_form.text_field :instagram_url %></td>
        </tr>
      </table>
    <% end %>
  </div>

  <div class="section">
    <h2>Company Addresses</h2>
    <% @issuer.company_addresses.each_with_index do |address, index| %>
      <%= form.fields_for :company_addresses, address, child_index: index do |address_form| %>
        <%= render 'address_fields', f: address_form %>
      <% end %>
    <% end %>
  </div>

  <div class="section">
    <h2>Billing Addresses</h2>
    <% @issuer.billing_addresses.each_with_index do |address, index| %>
      <%= form.fields_for :billing_addresses, address, child_index: index do |address_form| %>
        <%= render 'address_fields', f: address_form %>
      <% end %>
    <% end %>
  </div>

  <div class="section">
    <h2>Mailing Addresses</h2>
    <% @issuer.mailing_addresses.each_with_index do |address, index| %>
      <%= form.fields_for :mailing_addresses, address, child_index: index do |address_form| %>
        <%= render 'address_fields', f: address_form %>
      <% end %>
    <% end %>
  </div>

  <div class="section">
    <h2>Security Details</h2>
    <% @issuer.security_details.each_with_index do |security, index| %>
      <%= form.fields_for :security_details, security, child_index: index do |security_form| %>
        <%= render 'security_fields', f: security_form %>
      <% end %>
    <% end %>
  </div>

  <%= form.hidden_field :issuer_id, value: @issuer.id %>
  <%= form.submit 'Submit Edit Request', class: 'btn btn-primary' %>
<% end %>
