<h1>Issuer Details</h1>

<div class="section">
    <table>
        <tr>
            <th>Company Name (EN)</th>
            <td><%= @issuer.name_en %></td>
        </tr>
        <tr>
            <th>Company Name (FR)</th>
            <td><%= @issuer.name_fr %></td>
        </tr>
        <tr>
            <th>Company Description (EN)</th>
            <td><%= @issuer.description_en %></td>
        </tr>
        <tr>
            <th>Company Description (FR)</th>
            <td><%= @issuer.description_fr %></td>
        </tr>
        <tr>
            <th>Logo</th>
            <td><img src="<%= @issuer.logo_url %>" alt="Company Logo" width="100"></td>
        </tr>
        <tr>
            <th>Industry</th>
            <td><%= @issuer.industry.name %></td>
        </tr>
        <tr>
            <th>Financial Year End</th>
            <td><%= @issuer.financial_year_end %></td>
        </tr>
    </table>
</div>

<div class="section">
    <h2>Company Links</h2>
    <table>
        <tr>
            <th>LinkedIn</th>
            <td><a href="<%= @issuer.company_link&.linkedin_url %>"><%= @issuer.company_link&.linkedin_url %></a></td>
        </tr>
        <tr>
            <th>YouTube</th>
            <td><a href="<%= @issuer.company_link&.youtube_url %>"><%= @issuer.company_link&.youtube_url %></a></td>
        </tr>
        <tr>
            <th>Instagram</th>
            <td><a href="<%= @issuer&.company_link&.instagram_url %>"><%= @issuer.company_link&.instagram_url %></a></td>
        </tr>
    </table>
</div>

<div class="section">
    <h2>Company Addresses</h2>
    <table>
        <tr>
            <th>Country</th>
            <th>Address</th>
            <th>City</th>
            <th>Province</th>
            <th>Zip Code</th>
        </tr>
        <% @issuer.company_addresses.each do |address| %>
        <tr>
            <td><%= address.country %></td>
            <td><%= address.address %></td>
            <td><%= address.city %></td>
            <td><%= address.province %></td>
            <td><%= address.zip_code %></td>
        </tr>
        <% end %>
    </table>
</div>

<div class="section">
    <h2>Billing Addresses</h2>
    <table>
        <tr>
            <th>Country</th>
            <th>Address</th>
            <th>City</th>
            <th>Province</th>
            <th>Zip Code</th>
        </tr>
        <% @issuer.billing_addresses.each do |address| %>
        <tr>
            <td><%= address.country %></td>
            <td><%= address.address %></td>
            <td><%= address.city %></td>
            <td><%= address.province %></td>
            <td><%= address.zip_code %></td>
        </tr>
        <% end %>
    </table>
</div>

<div class="section">
    <h2>Mailing Addresses</h2>
    <table>
        <tr>
            <th>Country</th>
            <th>Address</th>
            <th>City</th>
            <th>Province</th>
            <th>Zip Code</th>
        </tr>
        <% @issuer.mailing_addresses.each do |address| %>
        <tr>
            <td><%= address.country %></td>
            <td><%= address.address %></td>
            <td><%= address.city %></td>
            <td><%= address.province %></td>
            <td><%= address.zip_code %></td>
        </tr>
        <% end %>
    </table>
</div>

<div class="section">
    <h2>Security Details</h2>
    <table>
        <tr>
            <th>Security Name (EN)</th>
            <th>Security Name (FR)</th>
            <th>Issues Outstanding</th>
            <th>Reserved for Issuance</th>
            <th>Total Equity Shares as if Converted</th>
        </tr>
        <% @issuer.security_details.each do |security| %>
        <tr>
            <td><%= security.security_name_en %></td>
            <td><%= security.security_name_fr %></td>
            <td><%= security.issues_outstanding %></td>
            <td><%= security.reserved_for_issuance %></td>
            <td><%= security.total_equity_shares_as_if_converted %></td>
        </tr>
        <% end %>
    </table>
</div>
